body { background: #167007; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 43px; display: flex; }
.block-cluster-0 { color: #e6a74a; font-size: 16px; margin-bottom: 5px; }
.block-product-1 { color: #d69ebe; font-size: 14px; margin-bottom: 5px; }
.block-sms-2 { color: #ceff24; font-size: 16px; margin-bottom: 5px; }
.block-payment-3 { color: #b00b6a; font-size: 14px; margin-bottom: 5px; }
.block-product-4 { color: #f33746; font-size: 17px; margin-bottom: 5px; }